version: '3.9'

volumes:
  strapi-db-data: {}
  strapi-upload-data: {}
  chroma-db-data: {}

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
    depends_on:
      - strapi
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - chroma


  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    container_name: chroma_db
    restart: unless-stopped
    ports:
      - 8001:8000
    environment:
      - ALLOW_RESET=true
    volumes :
      - chroma-db-data:/chroma/.chroma

  strapi:
    container_name: strapi
    build:
      context: ./cms
      dockerfile: .Dockerfile
    image: strapi:latest
    restart: unless-stopped
    env_file: .env-compose
    volumes:
      - strapi-upload-data:/app/public/uploads
    ports:
      - "1337:1337"
    networks:
      - strapi
    depends_on:
      - strapiDB

  strapiDB:
    image: postgres:15
    container_name: strapiDB
    restart: unless-stopped
    env_file: .env-compose
    volumes:
      - strapi-db-data:/var/lib/postgresql/data
    networks:
      - strapi


networks:
  strapi:
    driver: bridge