@import "tailwindcss";

/*
:root {
  --background: #F5F5F5;
  --foreground: #171717;
}*/


@theme {
    --color-primary: #107E7D;
    --color-primary-60: #0D5E5D;
    --color-secondary: #F4D35E;
    --color-accent: #EE6C4D;
    --color-main-text: #333333;
    --color-secondary-text: #DDDDDD;
    --color-background: #DDDDDD;
    --color-secondary-background: #CFCFCD;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
