@import "tailwindcss";
@plugin "@tailwindcss/typography";

/*
:root {
  --background: #F5F5F5;
  --foreground: #171717;
}*/


@theme {
    --color-main-1: #14A3A2;
    --color-main-2: #129190;
    --color-main-3: #107E7D;
    --color-main-4: #0e9996;
    --color-main-5: #ffffff;

    --color-separator-light-1: #d1d5dc;
    --color-separator-light: #898a8c;
    --color-separator-dark: #1e2939;

    --color-button-light-1: #FFFFFF;
    --color-button-light-2: #e5e7eb;
    --color-button-light-accent: #39B3AA;

    --color-font-light-1: #FFFFFF;
    --color-font-light-2: #e5e7eb;
    --color-font-light-accent: #c4cbe1;

    --color-font-dark-1: #000000;
    --color-font-dark-2: #364153;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
